*
{
    /* overflow-x: hidden; */
}

body {
    background-color: #242830;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s ease-out;
}

header {
    display: grid;
    align-items: end;
    justify-items: center;
    background-color: #21315a;
}
h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 64px;
    padding-bottom: 36px;
}

h1,
h2 {
    text-align: center;
    color: #94ce5a;
}

h2 {
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    padding-bottom: 13px;
    display: flex;
    justify-content: center;
    color: #94ce5a;
}

p {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
}



header > img,
h1 {
    grid-area: 1 / 1 / 2 / 2;
}
header > img {
    max-width: 715px;
}

/* -------------------Sections------------------------------------- */

section {
    width: 100%;
    flex-shrink: 0;
    padding: 20px 80px;
}
.earth-and-moon {
    background-color: #242830;
}
.earth-low-poly {
    background-color: #f5f7f8;
}
.earth-pixel {
    background-color: #000;
}

main
{
    position: relative;
    /* padding: 20px; */
    max-width: 960px;
    margin: auto;
    overflow: hidden;
}

/* -------------------Boutons------------------------------ */


.bi-chevron-left,
.bi-chevron-right
{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
    color: #94ce5a;
    font-size: 34px;
    background-color: #21315a;
    border: #94ce5a 2px solid;
}

.bi-chevron-left
{
    left: 15px; 
    visibility: hidden;
}

.bi-chevron-right
{
    right: 15px;
    
}


.deplacement
{
    display: flex;
    transition: 0.3s ease-out;
}

.container {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 20px;
    align-items: center;
    /* padding: 8%; */
}

/* --------------------------hover--------------- */

article {
    background-color: #21315a;
    padding: 12px;
    display: grid;
    gap: 10px;
}

.bi-chevron-left:hover
{
    background-color:  #94ce5a;
    border: #21315a  2px solid;
    color: #21315a ;
    font-size: 34px
}

.bi-chevron-right:hover
{
    background-color:  #94ce5a;
    border: #21315a  2px solid;
    color: #21315a ;
    font-size: 34px

}



/* --------------------------------------------------- */

@media (max-width: 750px) {
    .container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    article {
        order: -1;
    }
    h1 {
        font-size: 36px;
        padding-bottom: 15px;
    }
}
