body 
{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* transition: background-color 0.9s ease-out; */
}

header 
{
    display: grid;
    align-items: end;
    justify-items: center;
    background-color: #21315a;
}

h1 
{
    font-weight: 700;
    font-style: italic;
    font-size: 64px;
    padding-bottom: 36px;
}

h2 
{
    font-weight: 900;
    font-size: 32px;
}

h1,
h2 
{
    text-align: center;
    color: #94ce5a;
}

header > img,
h1 
{
    grid-area: 1 / 1 / 2 / 2;
}

header > img 
{
    max-width: 715px;
}

main 
{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slides-container 
{
    display: flex;
    transform: translate(16.5445%);
    /* transition: 0.3s ease-out; */

}

section 
{
    padding: 20px;
    padding-right: 70px;
    width: 100%;
    flex-shrink: 0;
    display: grid;
    align-items: center;
}

.earth-and-moon 
{
    background-color: #242830;
}

.earth-low-poly 
{
    background-color: #f5f7f8;
}

.earth-pixel 
{
    background-color: #000;
}
.container 
{
    display: grid;
    grid-template-columns: 7fr 6fr;
    gap: 20px;
    align-items: center;
}
article 
{
    background-color: #21315a;
    padding: 12px;
    display: grid;
    gap: 10px;
}

.bi-chevron-left
{
    left: 15px; 
}

.bi-chevron-right 
{
    right:5px;
}

.bi-chevron-left,
.bi-chevron-right {
    cursor: pointer;
    /* display: none !important; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #94ce5a;
    border: #94ce5a 2px solid;
    background-color: #21315a;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 34px;
    cursor: pointer;
    /* transition: 0.6s ease-in; */
    z-index: 1;
    animation: buttonsFloating 5s infinite alternate;
}

.bi-chevron-right:hover,
.bi-chevron-left:hover 
{
    color: #21315a;
    border: #21315a 2px solid;
    background-color: #94ce5a;
}

/*----------------puces----------------- */

.carousel-puce
  {
    list-style: none;
    text-align: center;
   /* background-color: red; */
  }

  
  .puce1.active,
  .puce2.active,
  .puce3.active 
  {
    background-color: #94ce5a;
    border: 2px solid #21315a;
    transform: scale(1.4);
    transition: 0.3s ease-out;
  }
  
  .puce1,
  .puce2,
  .puce3 
  {
    display: inline-block;
    padding: 6px;
    background-color: #21315a;
    border: 2px solid #94ce5a; 
    border-radius: 50%;
    margin: 0 2px;
    margin-bottom: 10px;
    cursor: pointer;

  }

  

/* --------------mobile: media query----------------- */

@media (max-width: 750px) {
    .container 
    {
        grid-template-columns: 1fr;
        gap: 0;
    }
    article 
    {
        order: -1;
    }
    h1 
    {
        font-size: 36px;
        padding-bottom: 15px;
    }
}

@keyframes buttonsFloating {
    0% {
        transform: translateY(-50%);
        scale: 1;
    }
    100% {
        transform: translateY(-52%);
        scale: 1.1;
    }
}



@media (max-width: 750px) {

    section {
        padding: 20px;
        align-items: start;


    }

    .container 
    {
        grid-template-columns: 1fr;
        gap: 0;
    }

    article
     {
        order: -1;
     }

    h1 
        {
        font-size: 36px;
        padding-bottom: 15px;
        }

    .bi-chevron-left,
    .bi-chevron-right 
    {
        display: none !important;
    }

    .wrapper
    {
        height: 100vh;
        overflow: scroll;
        scroll-snap-type: y mandatory;
    }

    header,
    main 
    {
    scroll-snap-align: start;
    }
}

@media (min-width: 750px) {
.carousel-puce
{
    display: none;
}
}