body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;

  transition: background-color 0.9s ease-out;
}
header {
  display: grid;
  align-items: end;
  justify-items: center;
  background-color: #21315a;
}
h1 {
  font-weight: 700;
  font-style: italic;
  font-size: 64px;
  padding-bottom: 36px;
}
h2 {
  font-weight: 900;
  font-size: 32px;
}
h1,
h2 {
  text-align: center;
  color: #94ce5a;
}
header > img,
h1 {
  grid-area: 1 / 1 / 2 / 2;
}
header > img {
  max-width: 715px;
}
main {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slides-container {
  display: flex;

  transition: 0.3s ease-out;
}
section {
  padding: 20px 80px;

  width: 100%;
  flex-shrink: 0;

  display: grid;
  align-items: center;
}
.earth-and-moon {
  background-color: #242830;
}
.earth-low-poly {
  background-color: #f5f7f8;
}
.earth-pixel {
  background-color: #000;
}
.container {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 20px;
  align-items: center;
}
article {
  background-color: #21315a;
  padding: 12px;
  display: grid;
  gap: 10px;
}

.bi-chevron-left {
  left: 15px;
}
.bi-chevron-right {
  right: 15px;
}

.bi-chevron-left,
.bi-chevron-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  color: #94ce5a;
  border: #94ce5a 2px solid;
  background-color: #21315a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 34px;
  cursor: pointer;
  transition: 0.6s ease-in;
  z-index: 1;

  animation: buttonsFloating 4s infinite alternate;
}
.bi-chevron-right:hover,
.bi-chevron-left:hover {
  color: #21315a;
  border: #21315a 2px solid;
  background-color: #94ce5a;
}
.bullets {
  position: absolute;
  top: calc(min(100%, 100vh) - 40px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.bullets > button {
  border: #94ce5a 2px solid;
  background-color: #21315a;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.6s ease-in;
  cursor: pointer;
}
.bullets > button.active {
  transform: scale(1.4);
  border-color: #21315a;
  background-color: #94ce5a;
}

/* --------------meteo---------------------- */

.container-meteo {
  background-color: #21315a;
  padding: 30px;
}

.content {
  background-color: #21315a;

  max-width: 960px;
  display: grid;
  /* align-content: center; */
  grid-template-columns: 5fr 7fr;
  display: flex;
  margin: auto;
}



.sidebar {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 372px;
  margin-left: 0;
  /* background-color: blue; */

  
}



.location-list {
  /* align-self: stretch; */
  /* border-right: 1px solid #94ce5a; */
  /* display: flex; */
  flex-grow: 1;
  padding-bottom: 80px;
  flex-direction: column;
  font-size: 24px;
  color: #94ce5a;
  font-weight: 400;
  text-align: end;


  /* background-color: red; */

}




.location-button {
  font-family: Roboto, sans-serif;
  justify-content: center; 
   /* align-items: end;  */
  padding: 10px 60px;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  /* font: inherit; */
  text-align:right;
  
}

.location-button button
{

  
}

.location-sublist {
  justify-content: center;
  border-right: 1px solid #21315a;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  
}


.location-subbutton {
  justify-content: end;
      /* border: 1px solid #94ce5a; */
      border-right: none;
      display: flex;
      gap: 10px;
      padding: 10px;
      cursor: pointer;
      background: none;
      color: inherit;
      font: inherit;
}

.location-subbutton.active {
   border-color: #94ce5a; 
}

.location-subbutton.active .weatherIcon {
  fill: #94ce5a; 
}



.location-name {
  /* display: none; */
}

.arrow-icon {
  width: 9px;
  fill: #94ce5a;
  margin: auto 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 60%;
  margin-left: 20px;
}



.weather-info {
  justify-content: center;
  align-self: stretch;
  border-right: 1px solid #94ce5a;
  border-top: 1px solid #94ce5a;
  border-bottom: 1px solid #94ce5a;
  border-left: hidden;
  display: flex;
  flex-grow: -1;
  gap: 20px;
  color: #94ce5a;
  text-align: center;
  padding: 20px;
}



.weather-bar {
  background-color: #21315a;
  align-self: start;
  margin-top: 11px;
  width: 10px;
  height: 46px;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-condition {
  font: 400 32px Roboto, sans-serif;
}

.temperature {
  font: 900 64px Roboto, sans-serif;
}


.weather-image {
  width: 250px;
height: 250px;
gap: 0px;
opacity: 0px;

}

/* --------------------------------------- */

@media (max-width: 750px) {
  section {
    padding: 20px;
    align-items: start;
  }
  .container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  article {
    order: -1;
  }
  h1 {
    font-size: 36px;
    padding-bottom: 15px;
  }
  .bi-chevron-left,
  .bi-chevron-right {
    display: none !important;
  }

  .wrapper {
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
  }
  header,
  main {
    scroll-snap-align: start;
  }
}

@keyframes buttonsFloating {
  0% {
    transform: translateY(-50%);
    scale: 1;
  }
  100% {
    transform: translateY(-52%);
    scale: 1.1;
  }
}
/* -------------------meteo--------------
 */



@media (max-width: 750px) {

.container-meteo
{
  display: grid;
  align-items: center;
  min-width: 100hv;
 
}


.content {
  flex-direction:column-reverse;
   grid-template-columns: 1fr;
  order: -1;
  
}


.weather-info {
  border: none;
  padding: 10px ; 
  align-items: center;
  /* background-color: red; */
}

.weather-bar {
  display: none; 

}

.weather-details {
  /* background-color: rebeccapurple; */
  padding: 50px;
  margin-left: 80px;
}

.temperature {
  font-size: 42px; /
}

.weather-condition {
  font-size: 24px;
}

.weather-image {
  width: 150px; /* Réduisez la taille de l'icône */
  height: auto; /* Ajustez la hauteur en conséquence */
}


/* .location-list {
  position: relative;
  bottom: auto;
  top: 0;
  left: 0;
  width: 100%;

 
  justify-content: space-around;
  padding: 0px 0; 
} */

.location-list {
 margin-right: 35px;
 justify-content: center; 
 display: inline;
}
 

.location-button {
  border: 1px solid #94ce5a;
  margin: 5px; 
  padding: 10px;
  width: fit-content;

  
  
  
}


.location-subbutton
{
  border: 1px solid #94ce5a;
  margin: 5px; 
  width: fit-content;

}

.location-sublist
{
  width: fit-content;
}

}

